.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board-white {
  display: flex;
  flex-direction: column-reverse;
}

.board-black {
  display: flex;
  flex-direction: column;
}

.boardRow {
  display: flex;
}

.board-white > div:nth-child(even) > div:nth-child(even) {
  height: 100px;
  width: 100px;
  background-color: beige;
}

.board-white > div:nth-child(even) > div:nth-child(odd) {
  height: 100px;
  width: 100px;
  background-color: rgba(84, 179, 52, 0.695);
}

.board-white > div:nth-child(odd) > div:nth-child(odd) {
  height: 100px;
  width: 100px;
  background-color: beige;
}

.board-white > div:nth-child(odd) > div:nth-child(even) {
  height: 100px;
  width: 100px;
  background-color: rgba(84, 179, 52, 0.695);
}

#highlight {
  background-color: pink;
}

#chosen {
  background-color: yellow;
}

#takes {
  background-color: red;
}

#piece-size {
  font-size: 100px !important;
}